boto3==1.43.108
dash==4.4.1
dash-bootstrap-components==2.0.4
Flask==3.1.3
Flask-Caching==2.3.1
Flask-Compress==1.25
folium==0.20.0
fonttools==4.61.1
geopandas==1.1.2
gunicorn==26.0.0
matplotlib==3.10.8
numpy==2.5.3
openpyxl==3.1.5
pandas==3.0.6
pillow==12.1.1
plotly==7.1.0
pyarrow==25.0.1
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.4
requests==2.32.5
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
setuptools==82.0.0
shapely==2.1.2
six==1.17.0
